<div class="nav-bar-container">
    <div class="logo">
        <a href="#">Your Logo</a>
    </div>
    <div class="search-box">
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
    </div>
    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#" class="register">Register</a></li>
        <li><a href="#" class="signin">Sign In</a></li>
        <li><a href="#"><i class="fa fa-shopping-cart"></i>
        </a></li> <!-- Shopping cart icon -->
    </ul>
</div>