<div class="nav-bar-container">
    <div class="top-row">
        <div class="logo">
            Etsy
        </div>
        <div class="categories-dropdown">
            Categories
        </div>
        <div class="search-box">
            Search
        </div>
        <div class="sign-in">
            Sign in
        </div>
        <div class="favourite-icon">
            Fav
        </div>
        <div class="cart-icon">
            Cart
        </div>
    </div>
    <div class="bottom-row">

    </div>
</div>