<div class="nav-bar-container">
    <div class="top-row">
        <div class="logo">
            Etsy
        </div>
        <div class="categories-dropdown">
            <!-- <button mat-button> <mat-icon>list</mat-icon> Categories </button> -->
            <app-product-categories> </app-product-categories>
        </div>
        <div class="search-box">
            <input class="custom-search-box" placeholder="     Search for everything" value="">
        </div>
        <div class="sign-in">
            <button mat-button (click)="signIn()"> Sign in </button>
            <ng-template #logInComponentContainer></ng-template> 
        </div>
        <div class="favourite-icon">
            <button mat-icon-button>
                <mat-icon>favorite_border</mat-icon>
              </button>
        </div>
        <div class="cart-icon">
            <button mat-icon-button>
                <mat-icon>shopping_cart</mat-icon>
            </button>
        </div>
    </div>

    <div class="bottom-row">
        <div class="header-categories">
                <div class="child"> <button mat-button>Home Favorites</button></div>
                <div class="child"> <button mat-button>Fashion Finds</button>  </div>
                <div class="child"> <button mat-button>Gift Guides</button>  </div>
                <div class="child"> <button mat-button>Registry</button> </div>
        </div>
    </div>
</div>