<div class="nav-bar-container">
    <div class="top-row">
        <div class="logo">
            Etsy
        </div>
        <div class="categories-dropdown">
            Categories
        </div>
        <div class="search-box">
            <input class="custom-search-box" placeholder="     Search..." value="">
        </div>
        <div class="sign-in">
            Sign in
        </div>
        <div class="favourite-icon">
            Fav
        </div>
        <div class="cart-icon">
            Cart
        </div>
    </div>

    <div class="bottom-row">
        <div class="header-categories">
                <div class="child"> Home Favorites </div>
                <div class="child"> Fashion Finds </div>
                <div class="child"> Gift Guides </div>
                <div class="child"> Registry </div>
        </div>
    </div>
</div>